# Build artifacts
obj/
*.o
*.a
*.so
*.dylib
*.out

# Executable
tron

# Debug symbols
*.dSYM/
*.su
*.idb
*.pdb

# Editor and IDE
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
vgcore.*


TODO.md